<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask</title>
    <link rel="manifest" href="/static/pwa/manifest.json"/>
    <link rel="apple-touch-icon" href="/static/pwa/images/apple-icon-180x180.png">
    <link rel="icon" href="/static/pwa/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <div style="text-align:center; margin-top:40px;">
        <h4 style="text-align: center">You are offline!</h4>
    </div>
</body>
</html>